@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1270px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border-color: #fff;
  position: relative;
  max-width: 1270px;
  gap: 9rem;
  overflow-x: hidden;
}

nav .left {
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: center;
}

.left .page_list ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.left .page_list ul li a {
  text-decoration: none;
  color: #000;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* nav .right a {
  text-decoration: none;
} */

nav .right div button{
   border: none;
   background-color: #fff;
   cursor: pointer;
}

nav .right div img {
  padding-left: 1.5rem;
  height: 22px;
 
}

/* MODAL DESIGN */
.search_modal {
  display: none;
}

.search_modal.createmodal {
  padding: 1rem;
  background-color: #7b797962;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  z-index: 5;
}

.modal {
  background-color: rgba(255, 255, 255, 0.998);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin: auto;
  border-radius: 5px;
  width: 430px;
  padding-left: 1rem;
}

.fa-solid {
  padding-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;
padding-bottom: 1rem;
}

.modal form #searchinput {
  width: 250px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9F9F9F;
  outline: #9F9F9F;
  color: #000;
  
}

.searchicon {
  background-color: #B88E2F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  text-align: center;
  padding: 8px 25px;
  width: 100px;
  height: 30px;
}


/* CART DISPLAY */
.shopping_wrapper{
  display: none;
}

.shopping_wrapper.create{
  position: absolute;
  top: 0;
  right: 0;
 background-color: #7b797962;
 width: 100%;
 height: 200vh;
 display: flex;
 flex-direction: column;
 align-items: end;
 justify-content: center;
 z-index: 5;
  padding: 0;
  margin: 0;
}

.shopping_container{
  background-color: #fff;
 padding:0 1rem 0 2rem;
  margin: 0 0 26rem 0;
  height: 60%;
}

.top_container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: center;
}

.top_container .shopping_heading{
  display: flex;
  align-items: center;
  gap: 7rem;
  justify-content: center;
  padding-top: 2rem;
}

.top_container .shopping_heading h1{
  font-weight: 600;
  text-align: left;
  
}

.top_container .shopping_heading button{
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #fff;
}

.line-11 {
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 0 0;
  width: 287px;
  height: 0px;
  position: relative;
}

.shopping_info{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0 0;
}

.main_image{
  width: 100px;
  height: 100px;
}

.main_image img{
  width: 100%;
}

.info_p{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  margin-right: 2.5rem;
}

.info_p p:nth-child(1){
  font-size: 15px;
  font-weight: 400;

}

.info_p p span:nth-child(2){
font-size: 12px;
font-weight: 300;
margin: 0 5px;
}

.info_p p span:nth-child(3){
color: #b88e2f;
margin: 0 5px;
font-weight: 500;
font-size: 12px;
}

.cancel_image button{
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 1rem;
  background-color: #fff;
}

.bottom_container{
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom_container .shopping_price{
  display: flex;
  gap: 6rem;
}

.bottom_container .shopping_price p:nth-child(1){
  color: #000000;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}

.bottom_container .shopping_price p:nth-child(2){
  color: #b88e2f;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

.line-12 {
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 0 0;
  width: 417px;
  height: 0px;
  position: relative;
}

.shopping_buttons{
  display: flex;
  gap: 1rem;
}

.shopping_buttons button{
  border-radius: 50px;
  bottom: 1px solid #444;
  cursor: pointer;
  padding: 6px 30px;
  background-color: #fff;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* CART DISPLAY */

.hero_checkout {
  background-image: url(https://res.cloudinary.com/diuay8wri/image/upload/v1692991095/images_folder/djrkirzuclhfm2xc6gnt.png);
  max-width: 1270px;
  /* height: 316px; */
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;


}

.herodescription {
  align-items: center;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
}

/* figma design */
.group-55 {
  width: 233px;
  height: 103px;
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout {
  color: #000000;
  text-align: center;
  font-weight: 500;
  font-size: 38px;

}

.meubel-house-logos-05 {
  width: 57px;
  height: 57px;
  margin: auto;
}

.group-56 {
  width: 157px;
  height: 24px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.hometag a,
.checkouttag a {
  text-decoration: none;
}

.hometag {
  color: #000000;
  text-align: left;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.checkouttag {
  text-decoration: none;
  color: #000000;
  text-align: left;
  font-weight: 300;
  font-size: 16px;

}

.dashicons-arrow-right {
  width: 20px;
  height: 20px;
  overflow: visible;
}

/* FORM INPUT */

.group-133 {
  width: 608px;
  height: 780px;
  display: flex;
  gap: 19rem;
  align-items: start;
  margin: 6rem 0 0 4rem; 
}

.rectangle-51 {
  background: #fff;
  width: 608px;
  height: 1714px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.billing-details {
  width: 608px;
  color: #000000;
  text-align: left;
  font: 600 36px "Poppins", sans-serif;
  position: relative;
  
}

.forminput {
  width: 212px;
  height: 121px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forminput input {
  padding: 15px;
  margin-top: 1rem;
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
}

.forminput select {
  padding: 15px;
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  margin-top: 1rem;
}

.name{
display: flex;
gap: 2rem;
width: 105px;
}

.first-name {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-53 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 211px;
  height: 75px;
}

.last-name {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-532 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 211px;
  height: 75px;
}

.company-name-optional {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-54 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.group-121 {
  width: 454px;
  height: 121px;
  position: static;
}

.street-address {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-533 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.group-125 {
  width: 454px;
  height: 121px;
  position: static;
}

.zip-code {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-534 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.group-122 {
  width: 454px;
  height: 121px;
  position: static;
}

.town-city {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-535 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.group-126 {
  width: 454px;
  height: 121px;
  position: static;
}

.phone {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-536 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.group-127 {
  width: 454px;
  height: 121px;
  position: static;
}

.email-address {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-537 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.group-128 {
  width: 453px;
  height: 75px;
  position: static;
}

.rectangle-538 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.additional-information {
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
}

.group-123 {
  width: 454px;
  height: 121px;
  position: static;
}

.group-120 {
  width: 454px;
  height: 121px;
  position: static;
}

.country-region {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.rectangle-539 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.sri-lanka {
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
}

.dashicons-arrow-down-alt-2 {
  position: absolute;
  left: 530px;
  top: 855px;
  overflow: visible;
}

.group-124 {
  width: 454px;
  height: 121px;
  position: static;
}

.province {
  color: #000000;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
 
}

.rectangle-5310 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 1px;
  width: 453px;
  height: 75px;
}

.western-province {
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
}

.dashicons-arrow-down-alt-22 {
  position: absolute;
  left: 526px;
  top: 1272px;
  overflow: visible;
}

/* PAYMENT DETAILS */

.rectangle-52 {
  margin-top: 4rem;
  height: 789px;
 display: flex;
 flex-direction: column;
 align-items: end;
}



.group-114 {
  width: 318px;
  height: 64px;
  position: relative;
}

.group-132 {
  width: 533px;
  height: 616px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headingdetail, .productdetail, .productsub, .producttotal{
  display: flex;
  gap: 10rem;
  align-items: end;
  justify-content: space-between;
}

.product {
  color: #000000;
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
}

.subtotal {
  color: #000000;
  text-align: right;
  font: 500 24px "Poppins", sans-serif;
}

.rs-250-000-00 {
  color: var(--primary, #b88e2f);
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
}

.subtotal2 {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
} 

.total {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
}

.asgaard-sofa {
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
}

.x {
  color: #000000;
  text-align: left;
  font: 500 12px "Poppins", sans-serif;


}

._1 {
  color: #000000;
  text-align: left;
  font: 500 12px "Poppins", sans-serif;

}

.rs-250-000-002 {
  color: #000000;
  text-align: left;
}

.rs-250-000-003 {
  color: #000000;
  text-align: left;
  font: 300 16px "Poppins", sans-serif;
}

.line-10 {
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 0 0;
  width: 527.01px;
  height: 0px;
}

.group-129 {
  width: 528px;
  height: 107px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.direct-bank-transfer {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.make-your-payment-directly-into-our-bank-account-please-use-your-order-id-as-the-payment-reference-your-order-will-not-be-shipped-until-the-funds-have-cleared-in-our-account {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  position: relative;
  width: 528px;
  padding-bottom: 1rem;
}

.ellipse-1 {
  background: #000000;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: relative;

}

.group-130 {
  width: 191px;
  height: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.direct-bank-transfer2 {
  color: #9f9f9f;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;

}

.your-personal-data {
  width: 529px;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
  padding: 4rem 0 0 0;
}

.text-wrapper {
  font-weight: 300;
}

.span {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
}

.rectangle-12 button {
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 318px;
  height: 64px;
  position: relative;
  color: #000000;
  background-color: #fff;
  margin: 3rem 6rem;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.group-131 {
  width: 167px;
  height: 24px;
  position: static;
}

.cash-on-delivery {
  color: #9f9f9f;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

#ellipse-13,#ellipse-12 {
  border-radius: 50%;
  border-style: solid;
  border-color: #9f9f9f;
  margin-right: 10px;
  width: 14px;
  height: 14px;
}

.small {
  color: #f20b0b;
  font-size: 14px;
  font-weight: 300;
}


/* FRAME */

.frame-161 {
  background: #faf3ea;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 max-width: 1270px;
  height: 270px;
  position: relative;
  margin-top: 50rem;
}

.feature {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
}

.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  max-width: 280px;
}

.trophy-1 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.group {
  position: absolute;
  inset: 0;
}

.group2 {
  position: absolute;
  left: 3.61px;
  top: 0px;
  overflow: visible;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.high-quality {
  color: #242424;
  text-align: left;
  font: 600 25px/150% "Poppins", sans-serif;
  position: relative;
}

.crafted-from-top-materials {
  color: var(--color-gray-3, #898989);
  text-align: left;
  font: 500 16px/150% "Poppins", sans-serif;
  position: relative;
}

.frame-19 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  max-width: 280px;
}

.guarantee {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.group3 {
  position: absolute;
  left: 0px;
  top: 0.94px;
  overflow: visible;
}

.warranty-protection {
  color: #242424;
  text-align: left;
  font: 600 25px/150% "Poppins", sans-serif;
  position: relative;
}

.over-2-years {
  color: var(--color-gray-3, #898989);
  text-align: left;
  font: 500 16px/150% "Poppins", sans-serif;
  position: relative;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  max-width: 280px;
}

.shipping {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.free-shipping {
  color: #242424;
  text-align: left;
  font: 600 25px/150% "Poppins", sans-serif;
  position: relative;
}

.order-over-150 {
  color: var(--color-gray-3, #898989);
  text-align: left;
  font: 500 16px/150% "Poppins", sans-serif;
  position: relative;
}

.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  max-width: 280px;
}

.customer-support {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

._24-7-support {
  color: #242424;
  text-align: left;
  font: 600 25px/150% "Poppins", sans-serif;
  position: relative;
}

.dedicated-support {
  color: var(--color-gray-3, #898989);
  text-align: left;
  font: 500 16px/150% "Poppins", sans-serif;
  position: relative;
}

/* FOOTER */
.footer {
  max-width: 1270px;
  height: 505px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5rem 0 1rem 0rem;
  justify-content: space-between;
  margin-top: 5rem;
  overflow-x: hidden;
}

.rectangle-19 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.17);
  border-width: 1px 0px 0px 0px;
  width: 1270px;
  height: 505px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.group-32 {
  width: 1133.01px;
  height: 312px;
  position: relative;
  display: flex;
}

.group-45 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 0 1rem;
}

._400-university-drive-suite-200-coral-gables-fl-33134-usa {
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  position: relative;
  width: 285px;
}

.funiro {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: relative;
  text-decoration: none;
}

.group-31 {
  height: 93px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.group-28 {
  height: 312px;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 5.5rem;
}

.group-24 {
  height: 233px;
  margin: 6rem 0 0 0;
  list-style-type: none;
  padding: 10px 0;
}

.group-25 {
  height: 233px;
  margin: 3.2rem 0 0 0;
  list-style-type: none;
  padding: 10px 0;
}

.group-24 li,
.group-25 li {
  padding: 18px 0;
}

.group-24 li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.group-24 li a:hover {
  color: #9f9f9f;

}

.group-27 {
  width: 140px;
  height: 242px;
  position: relative;
}

.group-25 li a {
  cursor: pointer;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.group-25 li a:hover {
  color: #9f9f9f;
}

.group-30 {
  width: 286px;
  height: 101px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.newsletter {
  color: #9f9f9f;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.group-29 {
  width: 286px;
  height: 24px;

}

.footer-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.enter-your-email-address {
  color: #9f9f9f;
  border: none;
  outline: none;
  font: 400 14px "Poppins", sans-serif;
  margin-top: 0;
}

small {
  color: #f20b0b;
  font-size: 14px;
  font-weight: 300;
}

.line{
  display: flex;
  gap: 10px;
  position: absolute;
  left: 788.01px;
  top: 90px;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 200px;
  height: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 75.01px;
  height: 0px;
} 

.subscribe {
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  font: 500 14px "Poppins", sans-serif;

}

.group-44 {
  width: 1240.01px;
  height: 59px;

}

.line-4 {
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 0 0;
  width: 1134px;
  height: 0px;
  position: absolute;
  left: 99px;
  top: 402px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

._2023-furino-all-rights-reverved {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  position: relative;
  padding-left: 6rem;
}