@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1270px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border-color: #fff;
  position: relative;
  max-width: 1270px;
  gap: 9rem;
  overflow-x: hidden;
}

nav .left {
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: center;
}

.left .page_list ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.left .page_list ul li a {
  text-decoration: none;
  color: #000;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}

nav .right a {
  text-decoration: none;
}

nav .right img {
  padding-left: 1.5rem;
  height: 22px;
}

/* MAIN BODY */
main .hero_section {
  max-width: 1270px;
  height: 631.93px;
  background-image: url(https://res.cloudinary.com/diuay8wri/image/upload/v1692991523/images_folder/ck1zcbwoddoq0hjtc5u9.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}

.hero_section .rectangle_77 {
  float: right;
  border-radius: 10px;
  background: #fff3e3;
  width: 476px;
  height: 443px;
  margin: 1.8rem 5.3rem 0 0;
  padding: 3rem 1.4rem 1.4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.hero_section .rectangle_77 small {
  letter-spacing: 0.1875rem;
  font-weight: 600;
  color: #333;
}

.hero_section .rectangle_77 h1 {
  width: 443px;
  height: 127px;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #b88e2f;
}

.hero_section .rectangle_77 p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: rgb(51, 51, 51);
  padding-bottom: 2rem;
  width: 432px;
  height: 52px;
}

.hero_section .rectangle_77 button {
  padding: 1.5625rem 4.5rem;
  margin-top: 2rem;
  background-color: #b88e2f;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

main .range {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  overflow-x: hidden;
}

main .heading h4 {
  text-align: center;
  color: var(--font-color, #333);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

main .heading p {
  text-align: center;
  color: var(--font-color-1, #666);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading_image {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.heading_image img {
  width: 351px;
  height: 480px;
}

.heading_image p {
  color: var(--font-color, #333);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}


/* PRODUCT SECTION */

#product-wrapper {
  max-width: 1270px;
  height: 67.75rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#product-wrapper .product-title {
  color: var(--color-gray-1, #3A3A3A);
  text-align: center;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#product-wrapper .product-frame {
  /* width: 100%; */
  height: 58.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}


#product-wrapper .product-frame .product-card {
  background-color: #F4F5F7;
  width: 250px;
  height: 27.875rem;
  padding: 1px;
}

#product-wrapper .product-frame .product-card .product-image {
  width: 100%;
  height: 18.8125rem;
  position: relative;
}

.product-image #image {
  width: 100%;
  height: 15.8125rem;
}

.product-meta {
  padding: 5% 3px;
  background-color: #F4F5F7;
  width: 250px;
  height: 9.0625rem;

}

.product-meta h3 {
  color: var(--color-gray-1, #3A3A3A);
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.product-meta h6 {
  color: #898989;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}


.product-meta .product-price {
  color: #3A3A3A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.product-meta .product-price span {
  /* padding: 12px; */
  color: var(--color-gray-4, #B0B0B0);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: line-through
}

.New {
  display: none;
  color: #ffffff;
  background-color: #2EC1AC;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  left: 213px;
  border-radius: 24px;
}

.discount {
  color: #ffffff;
  background-color: #E97171;
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 26px;
  left: 182px;
  border-radius: 24px;

}


#product-wrapper .showMore {
  width: 245px;
  height: 48px;
  margin-top: 30px;
  left: 598px;
  border: 1px;
  border: 1px solid #B88E2F;
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-wrapper .showMore button {
  color: #B88E2F;
  width: 89px;
  height: 24px;
  border: none;
  top: 2658px;
  background: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

/* PRODUCT SECTION ENDS HERE */

/* ROOMS */
.bg {
  background: #fcf8f3;
  max-width: 1270px;
  height: 670px;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.fifty-plus {
  padding-left: 2rem;
  padding-top: 15.97rem;
}

.titleheading {
  color: var(--color-gray-1, #3a3a3a);
  text-align: left;
  font: 700 40px/120% "Poppins", sans-serif;
  position: relative;
  width: 412px;
}

.subtitle {
  color: var(--color-gray-2, #616161);
  text-align: left;
  font: 500 16px/150% "Poppins", sans-serif;
  position: relative;
  width: 368px;
  padding-bottom: 1rem;
}

.rectangle-3 {
  background: var(--primary, #b88e2f);
  width: 176px;
  height: 48px;
  position: relative;
}

.explore-more {
  color: var(--color-white, #ffffff);
  text-align: left;
  font: 600 16px/150% "Poppins", sans-serif;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.imagescontainer {
  display: flex;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
}

.img {
  padding-left: .2rem;
}

.rectangle-24 {
  width: 321px;
  height: 582px;
  position: relative;
}

.rectangle-25 {
  width: 352px;
  height: 464px;
  position: relative;
  margin-bottom: 2.5rem;
}

.rectangle-26 {
  width: 49px;
  height: 464px;
}

.indicator {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.active {
  flex-shrink: 0;
  width: 27px;
  height: 27px;
  position: static;
}

.ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--primary, #b88e2f);
  border-width: 1px;
  opacity: 0.699999988079071;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.ellipse-1 {
  background: var(--primary, #b88e2f);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--primary, #b88e2f);
  border-width: 1px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 8px;
  top: 8px;
}

.ellipse-12 {
  background: var(--color-gray-5, #d8d8d8);
  border-radius: 50%;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
}

.ellipse-22 {
  background: var(--color-gray-5, #d8d8d8);
  border-radius: 50%;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
}

.ellipse-3 {
  background: var(--color-gray-5, #d8d8d8);
  border-radius: 50%;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
}

/* SHARE SECTION  */

.share {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5rem auto 0 auto;
  overflow: hidden;
}

.title {
  width: 356px;
  height: 86px;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.title2 {
  color: var(--color-gray-2, #616161);
  text-align: center;
  font: 600 20px/150% "Poppins", sans-serif;
  position: relative;

}

.title3 {
  color: var(--color-gray-1, #3a3a3a);
  text-align: center;
  font: 700 40px/120% "Poppins", sans-serif;
  position: relative;

}

.images {
  margin: -72px 0 0 0;
  height: 721px;
  position: relative;
  display: grid;
  grid-template-areas: "a b c d e" "f g c h i";
  max-width: 1270px;
}

.rectangle-36 {
  width: 89px;
  height: 422px;
  grid-area: a;
  margin: 0;
}

.rectangle-38 {
  width: 294px;
  height: 312px;
  grid-area: b;
  margin: 164px 15px 0 -85px;
}

.rectangle-40 {
  width: 198px;
  height: 278px;
  margin: 262px 15px 0 -28px;
  grid-area: c;
}

.rectangle-43 {
  width: 250px;
  height: 348px;
  grid-area: d;
  margin: 161px 15px 0 -35px;
}

.rectangle-45 {
  width: 206px;
  height: 393px;
  grid-area: e;
  margin: 117px 0 0 -49px;
}

.rectangle-37 {
  width: 168px;
  height: 323px;
  grid-area: f;
  margin: -63px 0 0 0px;
}

.rectangle-39 {
  width: 203px;
  height: 242px;
  grid-area: g;
  margin: -111px 0 0 5px;
}

.rectangle-41 {
  width: 178px;
  height: 242px;
  grid-area: h;
  margin: 1px 0 0 -35px;
}

.rectangle-44 {
  width: 208px;
  height: 196px;
  grid-area: i;
  margin: -18px 0 0 -120px;
}

/* FOOTER */
.footer {
  max-width: 1270px;
  height: 505px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5rem 0 1rem 0rem;
  justify-content: space-between;
  margin-top: 5rem;
  overflow-x: hidden;
}

.rectangle-19 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.17);
  border-width: 1px 0px 0px 0px;
  width: 1270px;
  height: 505px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.group-32 {
  width: 1133.01px;
  height: 312px;
  position: relative;
  display: flex;
}

.group-45 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 0 1rem;
}

._400-university-drive-suite-200-coral-gables-fl-33134-usa {
  color: #9f9f9f;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  position: relative;
  width: 285px;
}

.funiro {
  color: #000000;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: relative;
  text-decoration: none;
}

.group-31 {
  height: 93px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.group-28 {
  height: 312px;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 5.5rem;
}

.group-24 {
  height: 233px;
  margin: 6rem 0 0 0;
  list-style-type: none;
  padding: 10px 0;
}

.group-25 {
  height: 233px;
  margin: 3.2rem 0 0 0;
  list-style-type: none;
  padding: 10px 0;
}

.group-24 li,
.group-25 li {
  padding: 18px 0;
}

.group-24 li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.group-24 li a:hover {
  color: #9f9f9f;

}

.group-27 {
  width: 140px;
  height: 242px;
  position: relative;
}

.group-25 li a {
  cursor: pointer;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.group-25 li a:hover {
  color: #9f9f9f;
}

.group-30 {
  width: 286px;
  height: 101px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.newsletter {
  color: #9f9f9f;
  text-align: left;
  font: 500 16px "Poppins", sans-serif;
}

.group-29 {
  width: 286px;
  height: 24px;

}

.footer-form {
  display: flex;
  gap: 2rem;
}

.enter-your-email-address {
  color: #9f9f9f;
  border: none;
  outline: none;
  font: 400 14px "Poppins", sans-serif;
}

.line{
  display: flex;
  gap: 10px;
  position: absolute;
  left: 788.01px;
  top: 85px;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 200px;
  height: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 75.01px;
  height: 0px;
} 

.subscribe {
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  font: 500 14px "Poppins", sans-serif;

}

.error {
  color: #f20b0b;
  font-size: 14px;
  font-weight: 300;
}

.group-44 {
  width: 1240.01px;
  height: 59px;

}

.line-4 {
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 0 0;
  width: 1134px;
  height: 0px;
  position: absolute;
  left: 99px;
  top: 402px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

._2023-furino-all-rights-reverved {
  color: #000000;
  text-align: left;
  font: 400 16px "Poppins", sans-serif;
  position: relative;
  padding-left: 6rem;
}