*{
    margin: 0;
padding: 0;
box-sizing: border-box;

}
 /* HEADER START */

 body {
    font-family: "Poppins", sans-serif;
    max-width: 1270px;
    margin: 0 auto;
    
  }
  
  
  nav {
    display: flex;
    
     align-items: center;
    /*justify-content: center; */
    height: 4rem;
    border-color: #fff;
    position: relative;
    max-width: 1270px;
    gap: 9rem;
    overflow-x: hidden;
    
  }
  
  nav .left {
    display: flex;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    margin: 0.75rem;
  }
  
  .left .page_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  
  .left .page_list ul li a {
    text-decoration: none;
    color: #000;
    align-items: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .right {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  nav .right a {
    text-decoration: none;
  }
  
  nav .right img {
    padding-left: 1.5rem;
    height: 22px;
  }
  
 
 /* HEADER STOP */

 /* herodirection start */
.hero_direction{
  display: flex;
  flex-direction: row;

 gap: 1px;
    max-width: 1270px;
    height: 6rem;
    background-color: #F9F1E7;
    
}
.hero_direction .direction{
    width:10rem;
   margin: 0.8rem;
   padding:5px;
    
}
.hero_direction .direction a{
  text-decoration:none ;
  text-transform: capitalize;
  color:#000;
  
}
.hero_direction .dirProduct_name{
 margin-left:1px ;
  
}


 /* herodirection stop */






    /*SECTION  1 START */
    
main.product_preview .showCase{ 
   
    max-width:100%;
    
    margin:3rem 9rem;
    display: flex;
    Top:246px;
    justify-content: space-around;
    height: 40rem;
    border-bottom:0.0625rem solid #D9D9D9;

}
 main.product_preview .showCase .products_images{
    width: 6.187rem;
    height: 24rem;
    display: flex;
    margin:0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F9F1E7  ;
}
main.product_preview .showCase .products_images img{
    width: 6.187rem;
    height: 4rem;
    margin:0.75rem 3rem;
    
    
}
    /* productdetails  */
    main.product_preview .showCase .fullProduct_details{
        display: flex;
        gap: 10px;
        
    }


main.product_preview .showCase .fullProduct_image{
    width: 30rem;
    height: 24rem;
    margin: 0.75rem;
    background: #F9F1E7 ;
    Top:246px;
    
}
main.product_preview .showCase .fullProduct_image img{
    width: 100%;
    height: 100%;
    border: none;
    
    
}

main.product_preview .showCase .product_details{
    width: 35rem;
    height: 40rem;
    padding: 1rem;
    margin: 0.75rem;
    Top:246px;
    Left:734px;
    


}

    main.product_preview .showCase .product_details h1{
        color: #000;
        font-family: Poppins;
        font-size: 2.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
    main.product_preview .showCase .product_details h6{
        color: #9F9F9F;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0.75rem;
    }
    main.product_preview .showCase .product_details
     .product_review{
        width: 100%;
        
    }
    
    main.product_preview .showCase .product_details
     .product_review .rate{
        
        display: flex;
        flex-direction: row;
        margin: 10px;
    }
    main.product_preview .showCase .product_details
     .product_review .rate div {
        
        color:#f3da35 ;
        display: flex;
        flex-direction: row;
        
    }
    main.product_preview .showCase .product_details
     .product_review .rate span{
        border-left:1px solid #F9F1E7;
        padding-left: 15px;
        margin-left: 10px;
    }
    main.product_preview .showCase .product_details 
    .product_review .product_description{
        color: #000;
        width: 26rem;
        height: 5rem;
        font-family: 'Poppins',sans-serif;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0.75rem;
    }
    main.product_preview .showCase .product_details 
    .product_review .size{
        color: #9F9F9F;
        font-family: Poppins;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        
    }
    main.product_preview .showCase .product_details 
    .product_review .size p{
        color: #9F9F9F;
        font-family: Poppins;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0.75rem;
    }
    main.product_preview .showCase .product_details 
    .product_review .size button{
        background-color: #F9F1E7;
        width: 1.875rem;
        height: 1.875rem;
        Top:533px;
        Left:781px;
        border: none;
        border-radius:5px;
        margin: 0.75rem;
    }
    
    main.product_preview .showCase .product_details 
    .product_review .color p{
        
        color: #9F9F9F;
        font-family: Poppins;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0.75rem;
    }
    main.product_preview .showCase .product_details 
    .product_review .color .color_type{
        display: flex;
        flex-direction: row;
    }
    main.product_preview .showCase .product_details 
    .product_review .color .color_type div{
        
        width: 1.875rem;
        height: 1.875rem;
        border-radius:3.125rem;
        margin: 0.75rem;
        Top:614px;
        left:735px;
    }
    main.product_preview .showCase .product_details 
    .product_review .color .purple{
       
         background: #816DFA; 
    }
    main.product_preview .showCase .product_details 
    .product_review .color .black{
        background: #000;
    }
    main.product_preview .showCase .product_details 
    .product_review .color .gold{
        background:  #B88E2F;

    }
    main.product_preview .showCase .product_details 
    .product_review .addToCart{
        width: 100%;
        margin: 0.75rem;
        Left:800px;
        

    }
    main.product_preview .showCase .product_details 
    .product_review .addToCart button{
        width: 7rem;
        height: 4rem;
        border-radius: 0.625rem;
        border: 1px solid #9F9F9F;
        background: #FFF;
        
       

    }
    main.product_preview .showCase .product_details 
    .product_review .addToCart button.quantity{
        word-spacing: 1rem;
    }
    main.product_preview .showCase .product_details 
    .product_review .addToCart button.cart{
        width: 9rem;
        height: 4rem;
        border-radius: 0.9375rem;
        border: 1px solid #000;
    }
    main.product_preview .showCase .product_details 
    .product_review .addToCart button.compare{
        width: 9rem;
        height: 4rem;
        border-radius: 0.9375rem;
        border: 1px solid #000;
        word-spacing: 2rem;
        
    }
    main.product_preview .showCase .product_details 
    .product_review .product_category{
        color: #9F9F9F;
        width: 75%;
       
        padding: 0.75rem;
         border-top: 0.0625rem solid #D9D9D9;
         text-transform: capitalize;
         margin: 1rem;



    }
    /* SECTION2 */
    main.product_preview .additional_Info{
            width:100%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            

    }
    main.product_preview .additional_Info .detailsNav{
     max-width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        

}
main.product_preview .additional_Info .detailsNav li{
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    padding: 2rem;
    text-transform: capitalize;
    list-style: none;


}
main.product_preview .additional_Info .detailsNav li:hover{
    color: #000; 
}
main.product_preview .additional_Info p{
    width: 60rem;
    height: 2rem;
    color: #9F9F9F;
    text-align: justify;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height:normal;
    margin: 5px;

}
main.product_preview .additional_Info .productImage{
   
    width:60rem;
    height:20rem;
    display: flex;
    justify-content: center;
    gap:0.75rem;
    margin: 4rem;
    border-bottom: 0.0625rem solid #D9D9D9;
  
    
}
main.product_preview .additional_Info .productImage img{
    width:50%;
      margin-bottom: 15px;
    
    
}

/* SECTION 3 OTHER RELATED PRODUCT */

main .shopFrame {
  width: 1200px;
  height: 121.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1rem;
}
main .shopFrame a {
  text-decoration: none;
}
main .shopFrame .product_card {
  background: #f4f5f7;
  width: 240px;
  height: 24.875rem;position: relative;
}



main .shopFrame .product_card .product_image {
  width: 100%;
  height: 245px;
  
}

main .shopFrame .product_card .product_image img {
  width: 100%;
  height: 100%;
  
}

main .shopFrame .product_card .product_image .discount {
  background-color: #e97171;
  width: 48px;
  height: 48px;
  padding: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  position: absolute;
  left: 153px;
  top: 24px;
}

main .shopFrame .product_card .product_image .new {
  background-color: #2ec1ac;
  padding: 12px;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 213px;
  top: 24px;
}

main .shopFrame .product_card .product_meta {
  width: 100%;
  height: 145px;
  padding: 20px 0 0 15px;
}

main .shopFrame .product_card .product_meta h3 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

main .shopFrame .product_card .product_meta h6 {
  color: var(--color-gray-3, #898989);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

main .shopFrame .product_card .product_meta .price {
  color: var(--color-gray-1, #3a3a3a);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 100%;
}

main .shopFrame .product_card .product_meta .price small {
  color: #b0b0b0;
  font-family: Poppins;
  font-size: 14px;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: line-through;
}


/* FOOTER */
.footer {
    max-width: 1270px;
    height: 505px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5rem 0 1rem 0rem;
    justify-content: space-between;
    margin-top: 5rem;
    overflow-x: hidden;
  }
  
  .rectangle-19 {
    background: #ffffff;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.17);
    border-width: 1px 0px 0px 0px;
    width: 1270px;
    height: 505px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  .group-32 {
    width: 1133.01px;
    height: 312px;
    position: relative;
    display: flex;
  }
  
  .group-45 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 0 1rem;
  }
  
  ._400-university-drive-suite-200-coral-gables-fl-33134-usa {
    color: #9f9f9f;
    text-align: left;
    font: 400 16px "Poppins", sans-serif;
    position: relative;
    width: 285px;
  }
  
  .funiro {
    color: #000000;
    text-align: left;
    font: 700 24px "Poppins", sans-serif;
    position: relative;
    text-decoration: none;
  }
  
  .group-31 {
    height: 93px;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  
  .group-28 {
    height: 312px;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 5.5rem;
  }
  
  .group-24 {
    height: 233px;
    margin: 6rem 0 0 0;
    list-style-type: none;
    padding: 10px 0;
  }
  
  .group-25 {
    height: 233px;
    margin: 3.2rem 0 0 0;
    list-style-type: none;
    padding: 10px 0;
  }
  
  .group-24 li,
  .group-25 li {
    padding: 18px 0;
  }
  
  .group-24 li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
  
  .group-24 li a:hover {
    color: #9f9f9f;
  
  }
  
  .group-27 {
    width: 140px;
    height: 242px;
    position: relative;
  }
  
  .group-25 li a {
    cursor: pointer;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }
  
  .group-25 li a:hover {
    color: #9f9f9f;
  }
  
  .group-30 {
    width: 286px;
    height: 101px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .newsletter {
    color: #9f9f9f;
    text-align: left;
    font: 500 16px "Poppins", sans-serif;
  }
  
  .group-29 {
    width: 286px;
    height: 24px;
  
  }
  
  .footer-form {
    display: flex;
    gap: 2rem;
  }
  
  .enter-your-email-address {
    color: #9f9f9f;
    border: none;
    outline: none;
    font: 400 14px "Poppins", sans-serif;
  }
  
  .line{
    display: flex;
    gap: 10px;
    position: absolute;
    left: 788.01px;
    top: 85px;
  }
  .line-2 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 200px;
    height: 0px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  .line-3 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 75.01px;
    height: 0px;
  } 
  
  .subscribe {
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    font: 500 14px "Poppins", sans-serif;
  
  }
  
  .error {
    color: #f20b0b;
    font-size: 14px;
    font-weight: 300;
  }
  
  .group-44 {
    width: 1240.01px;
    height: 59px;
  
  }
  
  .line-4 {
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px 0 0 0;
    width: 1134px;
    height: 0px;
    position: absolute;
    left: 99px;
    top: 402px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  ._2023-furino-all-rights-reverved {
    color: #000000;
    text-align: left;
    font: 400 16px "Poppins", sans-serif;
    position: relative;
    padding-left: 6rem;
  }





    