@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.25rem;
  border-color: #fff;
  margin: 0 3rem;
  position: relative;
}

nav .left {
  display: flex;
  gap: 14rem;
  align-items: center;
  justify-content: center;
}
.left .page_list ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.left .page_list ul li a {
  text-decoration: none;
  color: #000;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}
nav .right a {
  text-decoration: none;
}
nav .right img {
  padding-left: 1.5rem;
}

/* main body */
main .hero_section {
  overflow-x: hidden;
  width: 80rem;
  height: 36rem;
  background-image: url(https://i.imgur.com/TfXa8je_d.jpg?maxwidth=520&shape=thumb&fidelity=high);
  background-repeat: no-repeat;
  background-size: 100dvw;
}
.hero_section .rectangle_77 {
  float: right;
  border-radius: 0.625rem;
  background: #fff3e3;
  width: 32.5rem;
  height: 23rem;
  margin: 10.1rem 6.6rem 0 0;
  padding: 3rem 1.4rem 1.4rem 2rem;
  gap: 0.8rem;
}
.hero_section .rectangle_77 small {
  letter-spacing: 0.1875rem;
  font-weight: 600;
  color: #333;
}
.hero_section .rectangle_77 h1 {
  font-size: 2.5rem;
  width: 70%;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5625rem;
  color: #b88e2f;
}
.hero_section .rectangle_77 p {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  color: #333;
  padding-bottom: 2rem;
  width: 95%;
}
.hero_section .rectangle_77 button {
  display: inline-flex;
  padding: 1.5625rem 4.5rem;
  align-items: flex-start;
  gap: 0.625rem;
  background-color: #b88e2f;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
main .range {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  scroll-behavior: smooth;
}
main .heading h4 {
  text-align: center;
  color: var(--font-color, #333);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
main .heading p {
  text-align: center;
  color: var(--font-color-1, #666);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.heading_image {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.heading_image img {
  width: 21.8125rem;
  height: 30rem;
}
.heading_image p {
  color: var(--font-color, #333);
text-align: center;
font-size: 1.5rem;
font-weight: 600;
text-transform: capitalize;
}
